@using demo.Controllers;
@model PagedList.IPagedList<demo.Model.Product>
@using PagedList.Mvc;
@using demo.Model;


@{ User user = Session["User"] as User;}
@if (!(Model is null))
{
    foreach (var pro in Model.ToList())
    {
        <div class="total col-lg-3">
            <div class="product-detail">
                <div class="product">
                    @if (!(user is null))
                    {
                        if (user.isAdmin == true)
                        {
                            <p class="overlay">
                                <a href="/Shop/EditProduct?id=@pro.ID" class="glyphicon glyphicon-pencil"></a>
                                <span class="Deletepro"> <a href="#" id="Deletepro" class="glyphicon glyphicon-trash" data-id="@pro.ID"></a></span>
                            </p>
                        }
                    }
                    @{ string image = "";}
                    @{if (!(pro.Image is null))
                        {
                            byte[] imgBytes = pro.Image;
                            image = System.Text.Encoding.ASCII.GetString(imgBytes);
                        }
                    }
                    @Html.Image(image, "Alternate Text", "300", "250")
                    @*<div class="overlay">
                            <div class="text">Hết Hàng</div>
                        </div>*@
                </div>
                <div class="detail">
                    <span class="name_pro"><a href="/Shop/ProDetail?id=@pro.ID">@pro.Name</a></span>
                    <span style="font-size:15px; color:blue">Giá tiền:</span>
                    <br />
                    <div class="price">@(((float)pro.Price).ToString("N0")) đ</div>

                    @{ if (user is null)
                        {
                            <div class="AddCart" style="margin-top:10px">
                                <h4 style="display:inline"><a href="/Shop/Login" id="buy">Mua Ngay</a></h4>
                                <a href="/Shop/Login" class="glyphicon glyphicon-shopping-cart"></a>
                            </div>

                        }
                        else if(user.isAdmin==false)
                        {
                            if (pro.Quantity > 0)
                            {
                                <div class="AddCart" style="margin-top:10px">
                                    <h4 style="display:inline"><a href="/Shop/Cart?ProductID=@pro.ID&quantity=1" ,id="buy">Mua Ngay</a></h4>
                                    <span class="addcart"> <a href="#" id="addcart" class="glyphicon glyphicon-shopping-cart" data-id="@pro.ID"></a></span>
                                </div>

                            }
                            else
                            {
                                <div class="AddCart"style="margin-top:10px">
                                    <h4 style="display:inline"><a href="#" style="pointer-events:none;color:gray">Mua Ngay</a></h4>
                                    <a href="#" class="glyphicon glyphicon-shopping-cart" style="pointer-events:none;color:gray"></a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>Không có sản phẩm nào!</h2>
}
<script>
    $(document).ready(function () {
        $('.Deletepro').click(function (e) {
            const current = e.currentTarget;
            var r = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
            if (r == true) {
                $.ajax({
                    data: { id: current.children[0].dataset.id },
                    url: '/Shop/DeletePro',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/Shop/Home";
                        }
                    }
                })
            }
        });
        $('.addcart').click(function (e) {
            const current = e.currentTarget;
                $.ajax({
                    data: { ProductID: current.children[0].dataset.id },
                    url: '/Shop/Addcart',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            alert("Thêm vào giỏ hàng thành công!")
                            window.location.href = "/Shop/Home";
                        }
                    }
                })
        });
    });

</script>