@model List<demo.Model.OrderDetail>
@using PagedList.Mvc;
@using demo.Model;
@using demo.Controllers;

@{ var user = Session["User"] as User; }
@{
    if (Model.Count > 0)
    {
        <table class="table-cart">

            <thead>
                <tr>
                    <th style="text-align: center;">Ảnh SP</th>
                    <th style="text-align: center;">Mã SP</th>
                    <th style="text-align: center;">Tên SP</th>
                    <th style="text-align: center;">Số lượng</th>
                    <th style="text-align: center;">Đơn giá</th>
                    <th style="text-align: center;">Thành tiền</th>
                    <th style="text-align: center;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var temp = (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                    <tr>
                        @{
                            byte[] imgBytes = item.Product.Image;
                            string image = System.Text.Encoding.ASCII.GetString(imgBytes);
                        }

                        <td style="width: 15%;text-align:center;">@Html.Image(image, "Alternate Text", "100", "150")</td>
                        <td style="width:5% ;text-align:center;">@item.Product.ID</td>
                        <td style="width: 40%;text-align:center;">@item.Product.Name</td>
                        <td style="width: 5%;"><input style="border:none;text-align:center;" type="number" min="1" max="@item.Product.Quantity" class="txtquantity" id="sl" data-id="@item.Product.ID" value="@item.Quantity" onchange="changeHandler()" /></td>
                        <td style="width: 15%;text-align:center;" id="price">@(item.Product.Price.GetValueOrDefault(0).ToString("N0"))</td>
                        <td style="width: 15%;text-align:center;" id="totalprice">@(((float)temp).ToString("N0"))</td>
                        <td style="width: 5%;text-align:center;"><div class="Deletepro"><a href="#" data-id="@item.Product.ID">Xóa</a></div></td>
                    </tr>

                }
            </tbody>
        </table>

    }
}



