@model List<demo.Model.Product>
@using PagedList.Mvc;
@using demo.Model;
@using Newtonsoft.Json

@{
    ViewBag.Title = "Brand";
}

@using demo.Controllers;
@{User user = Session["User"] as User; }
<div>
    @{
        if (user is null)
        { Html.RenderAction("HeaderMenuGuest", "Shop"); }
        else
        { Html.RenderAction("HeaderMenu", "Shop"); }
    }

    @if (Model.Count > 0)
    {
        <h2 style="text-align:center">
            <p> ĐỒNG HỒ @Model.FirstOrDefault().Brand1.Name.ToString().ToUpper()</p>
        </h2>
        <div class="container-fluid">
            <div id="loadProduct" class="products row">
                @{

                    string brand = Model[0].Brand.ToString();
                    string id = "brand";
                }

                @{Html.RenderAction("_Product", "Shop", new { page = 1, brand, id });}



            </div>
            <ul class="pager">
                <li><a id="minpage">|<<</a></li>
                <li><a id="previous"><<</a></li>
                <li><a id="next">>></a></li>
                <li><a id="maxpage">>>|</a></li>
            </ul>
        </div>
    }
    else
    {
        <p>Không có sản phẩm nào!</p>
    }

</div>
@if (Model.Count > 0)
{
    <script>

    var currentpage = 1;
    var max = 0;
    var BR = '@Model.FirstOrDefault().Brand.ToString()';
        var ID = 'brand';
    $(document).ready(function () {

        $('#previous').click(function () {
                currentpage = currentpage - 1;
                if (currentpage <= 0)
                    currentpage=1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: BR,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
           $('#next').click(function () {

            pagesize = 8;
            var max = 0;
            var size = (@Model.Count()) / pagesize;
            if ((@Model.Count()) % pagesize == 0) {
                max = (@Model.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@Model.Count()) / pagesize) + 1);
            }
            currentpage = currentpage + 1;
            if (currentpage > max)
                currentpage = max;
            if (max == 1)
                currentpage = 1;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: BR,
                    id: ID
                    },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#minpage').click(function () {
            currentpage = 1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: BR,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#maxpage').click(function () {
            pagesize = 8;
            var max = 0;
            var size = (@Model.Count()) / pagesize;
            if ((@Model.Count()) % pagesize == 0) {
                max = (@Model.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@Model.Count()) / pagesize) + 1);
            }
            console.log(max);
            currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: BR,
                    id: ID

                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
    });

    </script>
}