@model List<demo.Model.OrderDetail>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Cart";
}

@using demo.Controllers;


<div class="home-Contact " style="align-items:center">
    <span>Contact us: <a href="tel:#0708033730">0708033730</a></span>
    <hr>
    @{

        var user = Session["User"] as User;
        if (Session["User"] != null)
        {
            string temp = user.Username;
            if (user.Name != null)
            {
                temp = user.Name;
            }
            else
            {
                temp = user.Username;
            }

            <div class="after-login">
                <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item submenu dropdown">
                        <a href="#" style="padding:0!important" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user">@temp</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Profile">Tài khoản của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Cart">Đơn mua</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Shop/HomeGuest" id="Logout">Đăng xuất</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

        }
        else
        {

            <div class="Before-login">
                <span><a href="~/Shop/Register">ĐĂNG KÝ</a></span>
                <hr>
                <SPAN><a href="~/Shop/Login">ĐĂNG NHẬP</a></SPAN>
            </div>
        }
    }
</div>
    <div class="home-Menu row">
        <div class="home-Menu-left col-lg-6">
            <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item active" style="border-right:solid 2px black">
                    <a class="nav-link" href="~/Shop/Home">TRANG CHỦ</a>
                </li>
                <li class="nav-item submenu dropdown" style="border-right:solid 2px black">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ĐỒNG HỒ NAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ĐỒNG HỒ NỮ</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item submenu dropdown " style="border-right:solid 2px black">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ROLEX</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DW</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CASIO</a>
                        </li>
                    </ul>
                </li>
                @{ Html.RenderAction("HeaderCart", "Shop");}
            </ul>

        </div>
        <div class="home-Menu-right col-lg-6">
            @{

                if (!(user is null) && user.isAdmin == true)
                {
                    <ul id="admin" class="nav navbar-nav center_nav pull-right">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Shop/AddProduct">THÊM SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHỈNH SỬA SẢN PHẨM</a>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
    <div class="home-Menu row">
        <div class="Cart-menu">
            <ul class="nav navbar-nav center_nav pull-right">
                @{
                    if (!(user is null) && user.isAdmin == false)
                    {
                        <li class="nav-item Active">
                            <a class="nav-link" href="/Shop/Cart">Giỏ Hàng</a>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a href="/Shop/Wait" class="nav-link">Chờ xác nhận</a>
                </li>
                <li class="nav-item">
                    <a href="/Shop/Delivery" class="nav-link">Đang giao</a>
                </li>
                <li class="nav-item">
                    <a href="/Shop/Finish" class="nav-link">Đã giao</a>
                </li>
                <li class="nav-item">
                    <a href="/Shop/Cancel" class="nav-link">Đã hủy</a>
                </li>
            </ul>

        </div>
    </div>
        <div class="container">
            <div class="row">
                <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Begin empty cart -->
                    <div class="row">
                        <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                            <span class="header-page clearfix">
                                <h1 style="color:black">
                                    Giỏ hàng
                                </h1>
                            </span>

                            @{
                                if (Model.Count > 0)
                                {
                                    <table class="table-cart">

                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Ảnh SP</th>
                                                <th style="text-align: center;">Mã SP</th>
                                                <th style="text-align: center;">Tên SP</th>
                                                <th style="text-align: center;">Số lượng</th>
                                                <th style="text-align: center;">Đơn giá</th>
                                                <th style="text-align: center;">Thành tiền</th>
                                                <th style="text-align: center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                var temp = (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                                                <tr>
                                                    <td style="width: 15%;text-align:center;">@Html.Image(item.Product.Image, "Alternate Text", "100", "150")</td>
                                                    <td style="width:5% ;text-align:center;">@item.Product.ID</td>
                                                    <td style="width: 40%;text-align:center;">@item.Product.Name</td>
                                                    <td style="width: 5%;"><input style="border:none;text-align:center;" type="number" min="1" max="@item.Product.Quantity" class="txtquantity" id="sl" data-id="@item.Product.ID" value="@item.Quantity" onchange="changeHandler()" /></td>
                                                    <td style="width: 15%;text-align:center;" id="price">@(item.Product.Price.GetValueOrDefault(0).ToString("N0"))</td>
                                                    <td style="width: 15%;text-align:center;" id="totalprice">@(((float)temp).ToString("N0"))</td>
                                                    <td style="width: 5%;text-align:center;"><div class="Deletepro"><a href="#" data-id="@item.Product.ID">Xóa</a></div></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                }
                                else
                                {
                                    <p class="text-center">
                                        Không có sản phẩm nào trong giỏ hàng!
                                    </p>
                                }
                            }


                            @{float total = 0; }
                            @foreach (var item in Model)
                            {
                                total += (float)(item.Product.Price.GetValueOrDefault(0) * item.Quantity);


                            }
                            <div>Tổng tiền hàng : @total.ToString("N0") đ</br></div>


                            <div class="row">

                                <button id="btnPayment" style=" margin-left: 50px; margin-top: 50px; float: right; width: 12%; height: 40px;" class="btn">Thanh toán</button>
                                <button id="btnUpdate" style=" margin-left: 50px; margin-top: 50px; float: right; width: 12%; height: 40px;" class="btn">Cập nhật giỏ hàng</button>
                                <button id="btnDeleteAll" style=" margin-left: 50px; margin-top: 50px; float: right; width: 12%; height: 40px;" class="btn">Xoá giỏ hàng</button>
                                <div class="col-md-12 col-sm-12  col-xs-12 continue-shop">
                                    <a href="~/Shop/Home"><i class="fa fa-reply"></i>Tiếp tục mua hàng</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End cart -->
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                @{shopEntities _db = new shopEntities(); }

                $('.Deletepro').click(function (e)
                {
                        const current = e.currentTarget;
                        var r = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
                        if (r == true) {
                        $.ajax({
                            data: { ID: current.children[0].dataset.id },
                            url: '/Shop/Delete',
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                    if (res.status == true) {
                                        window.location.href = "/Shop/Cart";
                                    }
                                }
                            })
                    }
                    });
                $('#btnDeleteAll').click(function () {
                        var r = confirm("Bạn có chắc chắn muốn xóa toàn bộ giỏ hàng không?");
                        if (r == true) {
                        $.ajax({
                            url: '/Shop/DeleteAll',
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                    if (res.status == true) {
                                        window.location.href = "/Shop/Cart";
                                    }
                                }
                            })
                    }
                    });
                $('#btnUpdate').click(function () {
                        var r = confirm("Bạn có chắc chắn muốn cập nhập giỏ hàng?");
                        if (r == true) {
                            var listProduct = $('.txtquantity');
                            var cartList = [];
                        $.each(listProduct, function (i, item) {
                                cartList.push({
                                Quantity: $(item).val(),
                                Product: {
                                    ID: $(item).data('id')
                                }
                                });
                            });
                        $.ajax({
                            url: '/Shop/Update',
                            data: { cartModel: JSON.stringify(cartList) },
                            dataType: 'json',
                            type: 'POST',
                            success: function (res) {
                                    if (res.status == true) {
                                        window.location.href = "/Shop/Cart";
                                    }
                                }
                            })
                    }
                    });
                $('#btnPayment').click(function () {

                        window.location.href = "/Shop/Payment";
                    });

            });

        </script>
        <script>
            $(document).ready(function () {
                
                $(".nav-item").click(function () {
                    var x = $('.Active')
                    $(this).addClass(' Active');
                    x.removeClass();
                    x.addClass('nav-item')
                });
            });
        </script>