@model List<demo.Model.OrderDetail>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Detail";
}

@using demo.Controllers;


<div class="home-Contact " style="align-items:center">
    <span>Contact us: <a href="tel:#0708033730">0708033730</a></span>
    <hr>
    @{

        var user = Session["User"] as User;
        if (Session["User"] != null)
        {
            string temp = user.Username;
            if (user.Name != null)
            {
                temp = user.Name;
            }
            else
            {
                temp = user.Username;
            }

            <div class="after-login">
                <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item submenu dropdown">
                        <a href="#" style="padding:0!important" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user">@temp</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Profile">Tài khoản của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Cart">Đơn mua</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Shop/HomeGuest" id="Logout">Đăng xuất</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

        }
        else
        {

            <div class="Before-login">
                <span><a href="~/Shop/Register">ĐĂNG KÝ</a></span>
                <hr>
                <SPAN><a href="~/Shop/Login">ĐĂNG NHẬP</a></SPAN>
            </div>
        }
    }
</div>
<div class="home-Menu row">
    <div class="home-Menu-left col-lg-6">
        <ul class="nav navbar-nav center_nav pull-right">
            <li class="nav-item active" style="border-right:solid 2px black">
                <a class="nav-link" href="~/Shop/Home">TRANG CHỦ</a>
            </li>
            <li class="nav-item submenu dropdown" style="border-right:solid 2px black">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ĐỒNG HỒ NAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ĐỒNG HỒ NỮ</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item submenu dropdown " style="border-right:solid 2px black">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ROLEX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CASIO</a>
                    </li>
                </ul>
            </li>
            @{ Html.RenderAction("HeaderCart", "Shop");}
        </ul>

    </div>
    <div class="home-Menu-right col-lg-6">
        @{

            if (!(user is null) && user.isAdmin == true)
            {
                <ul id="admin" class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Shop/AddProduct">THÊM SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CHỈNH SỬA SẢN PHẨM</a>
                    </li>
                </ul>
            }
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Begin empty cart -->
            <div class="row">
                <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                    <h1 style="margin-bottom:10px;text-align: center; font-size: -webkit-xxx-large; font-style: italic; font-family: ui-sans-serif; font-weight: bolder; color: darkmagenta;">
                        Chi tiết đơn hàng
                    </h1>
                    @{
                        if (Model.Count > 0)
                        {
                            <div>


                                @{var count = 0;
                                    foreach (var item in Model)
                                    {
                                        var temp = (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                                        if (count == 0)
                                        {
                                            <h2>Địa chỉ nhận hàng</h2>
                                            <div class="content">

                                                <p><b>Tên người nhận:</b> &emsp;&emsp;&emsp;&emsp;&emsp;@item.Order.shipName</p>
                                                <p><b>Số điện thoại người nhận:</b>&ensp; @item.Order.shipMobile</p>
                                                <p><b>Địa chỉ nhận hàng:</b>&emsp;&emsp;&emsp;&emsp; @item.Order.shipAddress</p>
                                            </div>
                                            <div class="line"></div>
                                            <div class="content">
                                                <p><b>Đơn hàng:</b> @item.ID_Order</p>
                                                <p><b>Trạng thái:</b> @item.Order.status</p>
                                                @if (item.Order.status == "Wait")
                                                {
                                                    <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                }
                                                @if (item.Order.status == "Delivery")
                                                {
                                                    <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                    <p>@item.Order.Date_delivery: Đang giao hàng</p>
                                                }
                                                @if (item.Order.status == "Finish")
                                                {
                                                    <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                    <p>@item.Order.Date_delivery: Đang giao hàng</p>
                                                    <p>@item.Order.Date_Recived: Giao hàng thành công</p>
                                                }
                                                @if (item.Order.status == "Cancel")
                                                {
                                                    <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                    <p>@item.Order.Date_Cancel: Hủy đơn hàng</p>
                                                }
                                            </div>
                                            <div class="line"></div>
                                            count = count + 1;
                                        }
                                        <div>
                                            <table class="table-cart">
                                                <tbody>
                                                    <tr>
                                                        @{
                                                            byte[] imgBytes = item.Product.Image;
                                                            string image = System.Text.Encoding.ASCII.GetString(imgBytes);
                                                        }

                                                        <td style="width: 15%;text-align:center;">@Html.Image(image, "Alternate Text", "100", "150")</td>
                                                        <td style="width:5% ;text-align:center;">@item.Product.ID</td>
                                                        <td style="width: 40%;text-align:center;">@item.Product.Name</td>
                                                        <td style="width: 5%;"><input style="border:none;text-align:center;" type="number" min="0" max="@item.Product.Quantity" class="txtquantity" id="sl" data-id="@item.Product.ID" value="@item.Quantity" onchange="changeHandler()" /></td>
                                                        <td style="width: 15%;text-align:center;" id="price">@(item.Product.Price.GetValueOrDefault(0).ToString("N0"))</td>
                                                        <td style="width: 15%;text-align:center;" id="totalprice">@(((float)temp).ToString("N0"))</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                    <div class="row" style="margin-top:20px;text-align:right;">

                        @{
                            if (user.isAdmin == false)
                            {
                                <div>
                                    <a style="font-size:20px;" href="~/Shop/Cart">Trở lại giỏ hàng</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a style="font-size:20px;" href="~/Shop/Wait">Trở lại giỏ hàng</a>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
            <!-- End cart -->
        </div>
    </div>
</div>