@model List<demo.Model.OrderDetail>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Detail";
}

@using demo.Controllers;
@{ var user = Session["User"] as User;}

@{ Html.RenderAction("HeaderMenu", "Shop");}
<div class="container">
    <div class="row">
        <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Begin empty cart -->
            <div class="row">
                <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                    <h1 style="margin-bottom:10px;text-align: center; font-size: -webkit-xxx-large; font-style: italic; font-family: ui-sans-serif; font-weight: bolder; color: darkmagenta;">
                        Chi tiết đơn hàng
                    </h1>

                    @if (Model.Count > 0)
                    {
                        <table class="table-cart">

                            <thead>
                                <tr>
                                    <th style="text-align: center;">Ảnh SP</th>
                                    <th style="text-align: center;">Mã SP</th>
                                    <th style="text-align: center;">Tên SP</th>
                                    <th style="text-align: center;">Số lượng</th>
                                    <th style="text-align: center;">Đơn giá</th>
                                    <th style="text-align: center;">Thành tiền</th>
                                    <th style="text-align: center;"></th>
                                </tr>
                            </thead>

                            @{
                                var count = 0;
                                foreach (var item in Model)
                                {
                                    var temp = (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                                    if (count == 0)
                                    {
                                        <h2>Địa chỉ nhận hàng</h2>
                                        <div class="content">

                                            <p><b>Tên người nhận:</b> &emsp;&emsp;&emsp;&emsp;&emsp;@item.Order.shipName</p>
                                            <p><b>Số điện thoại người nhận:</b>&ensp; @item.Order.shipMobile</p>
                                            <p><b>Địa chỉ nhận hàng:</b>&emsp;&emsp;&emsp;&emsp; @item.Order.shipAddress</p>
                                        </div>
                                        <div class="line"></div>
                                        <div class="content">
                                            <p><b>Đơn hàng:</b> @item.ID_Order</p>
                                            <p><b>Trạng thái:</b> @item.Order.status</p>
                                            @if (item.Order.status == "Wait")
                                            {
                                                <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                            }
                                            @if (item.Order.status == "Delivery")
                                            {
                                                <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                <p>@item.Order.Date_delivery: Đang giao hàng</p>
                                            }
                                            @if (item.Order.status == "Finish")
                                            {
                                                <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                <p>@item.Order.Date_delivery: Đang giao hàng</p>
                                                <p>@item.Order.Date_Recived: Giao hàng thành công</p>
                                            }
                                            @if (item.Order.status == "Cancel")
                                            {
                                                <p>@item.Order.Date_Create: Tạo đơn hàng</p>
                                                <p>@item.Order.Date_Cancel: Hủy đơn hàng</p>
                                            }
                                        </div>
                                        <div class="line"></div>
                                        count = count + 1;
                                    }
                                    <tbody>
                                        <tr>
                                            @{
                                                byte[] imgBytes = item.Product.Image;
                                                string image = System.Text.Encoding.ASCII.GetString(imgBytes);
                                            }

                                            <td style="width: 15%;text-align:center;">@Html.Image(image, "Alternate Text", "100", "150")</td>
                                            <td style="width:5% ;text-align:center;">@item.Product.ID</td>
                                            <td style="width: 40%;text-align:center;">@item.Product.Name</td>
                                            <td style="width: 5%;"><input style="border:none;text-align:center;" type="number" min="1" max="@item.Product.Quantity" class="txtquantity" id="sl" data-id="@item.Product.ID" value="@item.Quantity" onchange="changeHandler()" /></td>
                                            <td style="width: 15%;text-align:center;" id="price">@(item.Product.Price.GetValueOrDefault(0).ToString("N0"))</td>
                                            <td style="width: 15%;text-align:center;" id="totalprice">@(((float)temp).ToString("N0"))</td>
                                            <td style="width: 5%;text-align:center;"><div class="Deletepro"><a href="#" data-id="@item.Product.ID">Xóa</a></div></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                        <div class="row" style="margin-top:20px;text-align:right;">

                            @{
                                if (user.isAdmin == false)
                                {
                                    <div>
                                        <a style="font-size:20px;" href="~/Shop/Cart">Trở lại giỏ hàng</a>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <a style="font-size:20px;" href="~/Shop/CartStatus?status=Wait">Trở lại giỏ hàng</a>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <!-- End cart -->
        </div>
    </div>
</div>