@using demo.Controllers
@using demo.Model;
@model List<demo.Model.DeliveryAddress>
@{
    ViewBag.Title = "EditAddress";
}

@{ Html.RenderAction("HeaderMenu", "Shop");}
<div class="main">

    <div style="position: absolute; width: 100%;">
        @if (Model.Count > 0)
        {
            <div style="margin-top:50px;margin-left:50px;height:30px">
                <i class="glyphicon glyphicon-map-marker">ĐỊA CHỈ NHẬN HÀNG</i>
                <button type="button" id="delete" class="btn" style=" margin-left: 50px; float: right; width: 13%; height: 35px;">Xóa địa chỉ</button>
                <button type="button" id="edit" class="btn" style="margin-left: 50px; float: right; width: 13%; height: 35px;">Sửa địa chỉ</button>
                <button type="button" id="add" class="btn" style=" float: right; width: 13%; height: 35px;">+ Thêm địa chỉ mới</button>

            </div>
            <br />
            <div style="margin-left:50px">
                @{ foreach (var item in Model)
                    {
                        if (item.isDefault == false)
                        {
                            <input type="radio" id="" name="address" value="@item.Id" style="width:50px">
                            <label for="">@item.FullName &nbsp; @item.Phone &nbsp; @item.Address</label><br>
                        }
                        else
                        {
                            <input type="radio" checked id="" name="address" value="@item.Id" style="width:50px">
                            <label for="">@item.FullName &nbsp; @item.Phone &nbsp; @item.Address</label><br>
                        }
                    }
                }
            </div>
            <button type="submit" id="Finish" class="btn" style=" margin-right: 50px;margin-left:50px; margin-top: 50px; float: left; width: 12%; height: 40px;">Hoàn thành</button>
            <button type="button" id="Back" class="btn" style=" margin-top: 50px; float: left; width: 12%; height: 40px;">Trở lại</button>
                    }
    </div>
    <div class="popup" id="openPopup">
        <div class="popup-form">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Name" value="" placeholder="Họ và Tên">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" value="" placeholder="Số Điện Thoại">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="province" class="form-control">
                        <option disabled selected>Chọn Tỉnh/Thành Phố</option>
                        @{
                            shopEntities db = new shopEntities();
                            foreach (var p in db.Provinces)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="district" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="ward" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Street" value="" placeholder="Tòa Nhà/Tên Đường">
                </div>
            </div>
            <div>
                <button type="submit" id="FinishFrm" class="btn" style="margin-right: 10px; margin-top: 50px; float: left; width: 40%; height: 40px;">Hoàn thành</button>
                <button type="button" id="BackFrm" class="btn" style=" margin-top: 50px; float: left; width: 40%; height: 40px;">Trở lại</button>
            </div>
        </div>
    </div>
    @*<div class="popup" id="openPopupEdit">
        @{foreach (var item in Model)
            {
                if (item.Id == @ViewBag.Address)
                {
                    var Address = item.ToString().Split(',');
                    <div class="popup-form">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" value="@item.FullName" placeholder="Họ và Tên">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Phone" value="@item.Phone" placeholder="Số Điện Thoại">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <select id="province" class="form-control">
                                    <option selected>@Address[4]</option>
                                    @{foreach (var p in db.Provinces)
                                        {
                                    <option value="@p.Id">@p.Name</option>
                                        }
                                        }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <select id="district" class="form-control">
                                    <option selected>@Address[3]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <select id="ward" class="form-control">
                                    <option selected>@Address[2]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Street" value="@Address[0],@Address[1]" placeholder="Tòa Nhà/Tên Đường">
                            </div>
                        </div>
                        <div>
                            <button type="submit" id="FinishFrm" class="btn" style="margin-right: 10px; margin-top: 50px; float: left; width: 40%; height: 40px;">Hoàn thành</button>
                            <button type="button" id="BackFrm" class="btn" style=" margin-top: 50px; float: left; width: 40%; height: 40px;">Trở lại</button>
                        </div>
                    </div>
                                            }
                                        }
                                        }
    </div>*@
</div>
@{ Html.RenderAction("Footer", "Shop");}
<script>
    $(document).ready(function () {
        @*$("#edit").click(function () {
            $('#openPopupEdit').css('opacity', 1);
            $('#openPopupEdit').css('visibility', 'visible');
            var idAddress = $('input[type=radio]:checked').val();
            var isEdit = 1;
            $.ajax({
                type: "POST",
                url: "/Shop/EditAddress",
                data: {
                    idAddress: idAddress,
                    isEdit: isEdit
                },
                success: function (res) {

                    alert(@ViewBag.Address)

                }
            });
        });*@

        $("#delete").click(function () {
            var idAddress = $('input[type=radio]:checked').val();
            var isDelete = 1;
            $.ajax({
                type: "POST",
                url: "/Shop/EditAddress",
                data: {
                    idAddress: idAddress,
                    isDelete: isDelete
                },
                success: function (res) {
                    window.location.href = "/Shop/EditAddress"
                }
            });
        });
        $("#Finish").click(function () {
            var idAddress = $('input[type=radio]:checked').val();
            $.ajax({
                type: "POST",
                url: "/Shop/EditAddress",
                data: { idAddress: idAddress },
                success: function (res) {
                    window.location.href = "/Shop/Payment"
                }
            });
        });
        $("#Back").click(function () {
            window.location.href = "/Shop/Payment"
        });
        $("#FinishFrm").click(function () {
            var name = $("#Name").val();
            var phonenum = $("#Phone").val();
            var province = $("#province :selected").text();
            var district = $("#district :selected").text();
            var ward = $("#ward :selected").text();
            var street = $("#Street").val()
            $.ajax({
                type: "POST",
                url: "/Shop/EditAddress",
                data: {
                    idAddress:"",
                    Name: name,
                    Phonenum: phonenum,
                    Province: province,
                    District: district,
                    Ward: ward,
                    Street: street
                },
                success: function (res) {
                    window.location.href = "/Shop/EditAddress"
                }

            });
        });
        $('#add').click(function () {
            $('#openPopup').css('opacity', 1);
            $('#openPopup').css('visibility', 'visible');
        })
        $('#BackFrm').click(function () {
            $('#openPopup').css('opacity', 0);
            $('#openPopup').css('visibility', 'hidden');
        })
        $("#province").change(function () {
            var pro = $("#province")[0].value;
            $.ajax({
                type: "GET",
                url: "/Shop/GetAllDistrictByProvinceId",
                data: {
                    id: pro
                },
                success: function (res) {
                    $('#district').html("");
                    $("#district").append(("<option disabled selected>" + "Chọn Quận/Huyện" + "</option>"));
                    $.each(res, function (key, item) {
                        $("#district").append("<option>" + item + "</option>");
                    });
                }
            });

        });
        $("#district").change(function () {
            var dis = $("#district")[0].value;
            $.ajax({
                type: "GET",
                url: "/Shop/GetAllWardByDistrictId",
                data: {
                    id: dis
                },
                success: function (res) {
                    $('#ward').html("");
                    $("#ward").append(("<option disabled selected>" + "Chọn Phường/Xã" + "</option>"));
                    $.each(res, function (key, item) {
                        $("#ward").append("<option>" + item + "</option>");
                    });
                }
            });
        });
    });
</script>
