@using demo.Controllers
@using demo.Model;
@model List<demo.Model.DeliveryAddress>
@{
    ViewBag.Title = "EditAddress";
}

@{ Html.RenderAction("HeaderMenu", "Shop");}
<div class="main">

    <div style="position: absolute; width: 100%;">
        @if (Model.Count > 0)
        {
            <div style="margin-top:50px;margin-left:50px;height:30px">
                <i class="glyphicon glyphicon-map-marker">ĐỊA CHỈ NHẬN HÀNG</i>
                <button type="button" id="set" class="btn" style=" margin-left: 50px; float: right; width: 11%; height: 35px;">Thiết lập địa chỉ</button>
                <button type="button" id="add" class="btn" style=" float: right; width: 11%; height: 35px;">+ Thêm địa chỉ mới</button>

            </div>
            <br />
            foreach (var item in Model)
            {
                <input type="radio" id="" name="address" value="" style="width:50px">
                <label for="">@item.User.Name &nbsp; @item.Phone &nbsp; @item.Address</label><br>
            }
            <button type="submit" id="Finish" class="btn" style=" margin-right: 50px;margin-left:50px; margin-top: 50px; float: left; width: 12%; height: 40px;">Hoàn thành</button>
            <button type="button" id="Back" class="btn" style=" margin-top: 50px; float: left; width: 12%; height: 40px;">Trở lại</button>
        }
    </div>
    <div class="popup" id="openPopup">
        <div class="popup-form">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Name" value="" placeholder="Họ và Tên">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" value="" placeholder="Số Điện Thoại">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="province" class="form-control">
                        @{
                            shopEntities db = new shopEntities();
                            foreach (var p in db.Provinces)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="district" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="ward" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Street" value="" placeholder="Tòa Nhà/Tên Đường">
                </div>
            </div>
            <button type="submit" id="FinishFrm" class="btn" style=" margin-right: 50px;margin-left:50px; margin-top: 50px; float: left; width: 27%; height: 40px;">Hoàn thành</button>
            <button type="button" id="BackFrm" class="btn" style=" margin-top: 50px; float: left; width: 25%; height: 40px;">Trở lại</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#FinishFrm").click(function () {
            var name = $("#Name").val();
            var phonenum = $("#Phone").val();
            var province = $("#province :selected").text();
            var district = $("#district :selected").text();
            var ward = $("#ward :selected").text();
            var street = $("#Street").val()
            $.ajax({
                type: "POST",
                url: "/Shop/EditAddress",
                data: {
                    Name: name,
                    Phonenum: phonenum,
                    Province: province,
                    District: district,
                    Ward: ward,
                    Street: street
                },
                success: function (res) {
                    window.location.href = "/Shop/EditAddress"
                }

            });
        });
        $('#add').click(function () {
            $('#openPopup').css('opacity', 1);
            $('#openPopup').css('visibility', 'visible');
        })
        $('#BackFrm').click(function () {
            $('#openPopup').css('opacity', 0);
            $('#openPopup').css('visibility', 'hidden');
        })
        $("#province").change(function () {
            var pro = $("#province")[0].value;
            $.ajax({
                type: "GET",
                url: "/Shop/GetAllDistrictByProvinceId",
                data: {
                    id: pro
                },
                success: function (res) {
                    $('#district').html("");
                    $("#district").append(("<option disabled selected>" + "Chọn Quận/Huyện" + "</option>"));
                    $.each(res, function (key, item) {
                        $("#district").append("<option>" + item + "</option>");
                    });
                }
            });
            
        });
        $("#district").change(function () {
            var dis = $("#district")[0].value;
            $.ajax({
                type: "GET",
                url: "/Shop/GetAllWardByDistrictId",
                data: {
                    id: dis
                },
                success: function (res) {
                    $('#ward').html("");
                    $("#ward").append(("<option disabled selected>" + "Chọn Phường/Xã" + "</option>"));
                    $.each(res, function (key, item) {
                        $("#ward").append("<option>" + item + "</option>");
                    });
                }
            });
        });
    });
</script>
