@model PagedList.IPagedList<demo.Model.Product>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Home";
}
@using demo.Controllers;
<div>
    <div class="home-Contact">
        <span>Contact us: <a href="tel:#0708033730">0708033730</a></span>
        <hr>
        @{

            var user = Session["User"] as User;
            if (Session["User"] != null)
            {
                string temp = user.Username;
                if (user.Name != null)
                {
                    temp = user.Name;
                }
                else
                {
                    temp = user.Username;
                }

                <div class="after-login">
                    <a href="#" id="user">@temp</a>
                    <hr>
                    <SPAN><a href="~/Shop/HomeGuest" id="Logout">ĐĂNG XUẤT</a></SPAN>
                </div>

            }
            else
            {
                <div class="Before-login">
                    <span><a href="~/Shop/Register">ĐĂNG KÝ</a></span>
                    <hr>
                    <SPAN><a href="~/Shop/Login">ĐĂNG NHẬP</a></SPAN>
                </div>
            }
        }
    </div>
    <div class="home-Menu row">
        <div class="home-Menu-left col-lg-6">
            <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item active" style="border-right:solid 2px black">
                    <a class="nav-link" href="~/Shop/Home">TRANG CHỦ</a>
                </li>
                <li class="nav-item submenu dropdown" style="border-right:solid 2px black">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ĐỒNG HỒ NAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ĐỒNG HỒ NỮ</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item submenu dropdown " style="border-right:solid 2px black">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ROLEX</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DW</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CASIO</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GIỎ HÀNG</a>
                </li>
            </ul>

        </div>
        <div class="home-Menu-right col-lg-6">
            @{
                
                if (!(user is null) && user.isAdmin == true)
                {
                      <ul id="admin" class="nav navbar-nav center_nav pull-right">
                         <li class="nav-item">
                            <a class="nav-link" href="~/Shop/AddProduct">THÊM SẢN PHẨM</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="#">CHỈNH SỬA SẢN PHẨM</a>
                         </li>
                      </ul>
                }
            }
        </div>
        </div>
    <div class="container-fluid">
        <div id="loadProduct" class ="products row">
            @if (!(Model is null))
            {
                foreach (var pro in Model.ToList())
                {
                    <div class="total col-lg-3">
                        <div class="product">

                            @Html.Image(pro.Image, "Alternate Text", "300", "250")
                            <div class="overlay">
                                <di class="text">@pro.Description</di>
                            </div>
                        </div>
                        <div class="detail">
                            <span>@pro.Name</span>
                            <span style="font-size:15px; color:blue">Giá tiền:</span>
                            <br />
                            <div class="price">@pro.Price</div>
                            <button>Chọn mua</button>
                        </div>
                    </div>
                }
            }
        </div>
        <ul class="pager">
            <li><a id="minpage">|<<</a></li>
            <li><a id="previous"><<</a></li>
            <li><a id="next">>></a></li>
            <li><a id="maxpage">>>|</a></li>
        </ul>
    </div>
</div>

<script>
    var currentpage = 1;
    var max = 0;
    @{
        shopEntities db = new shopEntities();
    }
    $(document).ready(function () {
        $('#previous').click(function () {
            currentpage = currentpage - 1;
            if (currentpage <= 0)
                currentpage=1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#next').click(function () {
            pagesize = 4;
            var max = 0;
            var size = (@db.Products.Count()) / pagesize;
            if ((@db.Products.Count()) % pagesize == 0) {
                max = (@db.Products.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@db.Products.Count()) / pagesize) + 1);
            }
            currentpage = currentpage + 1;
            if (currentpage > max)
                currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#minpage').click(function () {
            currentpage = 1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#maxpage').click(function () {
            pagesize = 4;
            var max = 0;
            var size = (@db.Products.Count()) / pagesize;
            if ((@db.Products.Count()) % pagesize == 0) {
                max = (@db.Products.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@db.Products.Count()) / pagesize) + 1);
            }
            currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Logout').click(function () {
            $.ajax({
                type: "POST",
                url: "/Shop/Logout",
                success: function (res) {
                    alert("Đăng xuất thành công")
                }
            });
        });
    });
</script>