@model PagedList.IPagedList<demo.Model.Product>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Home";
}
@using demo.Controllers;

@{ Html.RenderAction("HeaderMenu", "Shop");}

<div class="container-fluid">
   
    <div id="loadProduct" class="products row">
        @{ string brand = "all";
            string id = "home";}
        @{Html.RenderAction("_Product", "Shop", new { page = 1, brand, id });}
    </div>
    <ul class="pager">
        <li><a id="minpage">|<<</a></li>
        <li><a id="previous"><<</a></li>
        <li><a id="next">>></a></li>
        <li><a id="maxpage">>>|</a></li>
    </ul>
</div>
<script>
    var currentpage = 1;
    var max = 0;
    var Brand = 'all';
    var ID = 'home';
    @{
        shopEntities db = new shopEntities();
    }
    $(document).ready(function () {
        $('#previous').click(function () {
            currentpage = currentpage - 1;
            if (currentpage <= 0)
                currentpage=1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: Brand,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#next').click(function () {
            pagesize = 8;
            var max = 0;
            var size = (@db.Products.Count()) / pagesize;
            if ((@db.Products.Count()) % pagesize == 0) {
                max = (@db.Products.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@db.Products.Count()) / pagesize) + 1);
            }
            currentpage = currentpage + 1;
            if (currentpage > max)
                currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: Brand,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#minpage').click(function () {
            currentpage = 1
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: Brand,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#maxpage').click(function () {
            pagesize = 8;
            var max = 0;
            var size = (@db.Products.Count()) / pagesize;
            if ((@db.Products.Count()) % pagesize == 0) {
                max = (@db.Products.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@db.Products.Count()) / pagesize) + 1);
            }
            currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Product",
                data: {
                    page: currentpage,
                    brand: Brand,
                    id: ID
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
    });
</script>

