@model List<demo.Model.User>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Profile";
}

@using demo.Controllers;

@{var user = Session["User"] as User;}

@{ Html.RenderAction("HeaderMenu", "Shop");}

<div class="container">
    <div class="row">
        <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Begin empty cart -->
            <div class="row">
                <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                    <h1 style="margin-bottom:10px;text-align: center; font-size: -webkit-xxx-large; font-style: italic; font-family: ui-sans-serif; font-weight: bolder; color: darkmagenta;">
                        Hồ sơ của tôi
                    </h1>
                    @{
                        if (!(user is null))
                        {

                            // var item = Model.Find(user.Username);
                            shopEntities _db = new shopEntities();
                            var item = _db.Users.Find(user.Username);
                            // var password = user.Password;
                            <div class="form-group row">
                                <label for="Username" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                                <div class="col-sm-10">
                                    <input type="text" style="border:none" readonly class="form-control-plaintext" id="Username" value="@item.Username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Name" class="col-sm-2 col-form-label">Tên</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Name" value="@item.Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Email" value="@item.Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Phone" value="@item.Phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Address" class="col-sm-2 col-form-label">Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Address" value="@item.Address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Birthday" class="col-sm-2 col-form-label">Ngày sinh</label>
                                <div class="col-sm-10">
                                    @{var date = item.Birthday.Value.ToString("yyyy-MM-dd");}
                                    <input type="date" class="form-control" id="Birthday" value="@date">
                                </div>
                            </div>
                            <button type="submit" id="save" class="btn" style=" margin-top: 50px; width: 8%; height: 40px;">Lưu</button>

                        }
                    }


                </div>
            </div>
            <!-- End cart -->
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $("#save").click(function () {
            var name = $('#Name').val();
            var phone = $('#Phone').val();
            var address = $('#Address').val();
            var email = $('#Email').val();
            var birthday = $('#Birthday').val();
            var password = prompt("Please enter your Password");
            if (password != null) {
                if (password !=@user.Password) {
                    alert("Mật khẩu không đúng");
                } else {
                    $.ajax({
                        url: "/Shop/Profile",
                        type: "POST",
                        data: {
                            Name: name,
                            Phone: phone,
                            Address: address,
                            Email: email,
                            Birthday: birthday
                        },
                        success: function (res) {
                            if (res === "false") {

                            }
                            else {
                                alert("Thay đổi thông tin thành công")
                                $("#loadBody").html(res)
                            }
                        }

                    });
                }
            }
        });
    });
    </script>
</div>
