
@model demo.Model.User
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Profiles";
}


@using demo.Controllers;

@{var user = Session["User"] as User;}

@{ Html.RenderAction("HeaderMenu", "Shop");}

<div >
    <div id="layout-page" style="left: 0; position: absolute; width: 100%;padding: 0 350px;">
        <h1 style="margin-bottom:10px;text-align: center; font-size: -webkit-xxx-large; font-style: italic; font-family: ui-sans-serif; font-weight: bolder; color: darkmagenta;">
            Hồ sơ của tôi
        </h1>
        @{
            if (!(user is null))
            {

                // var item = Model.Find(user.Username);
                shopEntities _db = new shopEntities();
                var item = _db.Users.Find(user.Username);
                // var password = user.Password;
                <div class="form-group row">
                    <label for="Username" class="col-sm-3 col-form-label">Tên đăng nhập</label>
                    <div class="col-sm-8">
                        <input type="text" style="border:none" readonly class="form-control-plaintext" id="Username" value="@item.Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">Tên</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" value="@item.Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Email" value="@item.Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Phone" class="col-sm-3 col-form-label">Số điện thoại</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Phone" value="@item.Phone">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Address" class="col-sm-3 col-form-label">Địa chỉ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Address" value="@item.Address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Birthday" class="col-sm-3 col-form-label">Ngày sinh</label>
                    <div class="col-sm-8">
                        @{var date = item.Birthday.Value.ToString("yyyy-MM-dd");}
                        <input type="date" class="form-control" id="Birthday" value="@date">
                    </div>
                </div>
                <div class="form-group row" style="text-align:center;">
                    <button type="submit" id="save" class="btn" style=" margin-top: 50px; width: 20%; height: 40px;">Lưu</button>
                    <button type="button" id="Change" class="btn" style=" margin-top: 50px; width: 20%; height: 40px;">Đổi mật khẩu</button>
                </div>
            }
        }


    </div>
    <div class="popup" style="left: 0;" id="openPopup">
        <div class="popup-form" style="padding: 50px 100px!important;">
            <div class="form-group row">
                <label for="Username" class="col-sm-3 col-form-label">Tên đăng nhập:</label>
                <div class="col-sm-8">
                    <input type="text" id="ip-text" readonly class="form-control" value="@user.Username" name="username" />
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-3 col-form-label">Mật khẩu:</label>
                <div class="col-sm-8">
                    <input type="password" id="old-password" class="form-control" value="" name="old-password" />
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-3 col-form-label">Mật khẩu mới:</label>
                <div class="col-sm-8">
                    <input type="password" id="password" class="form-control" value="" name="password" />
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group row">
                <label for="Confirm" class="col-sm-3 col-form-label">Xác nhận:</label>
                <div class="col-sm-8">
                    <input type="password" id="confirm" class="form-control" value="" name="confirm" />
                    <br />
                    <span id="showError"></span>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <button type="submit" id="reset" class="btn" style=" margin-right: 50px;margin-left:50px; margin-top: 50px; float: left; width: 27%; height: 40px;">Đổi mật khẩu</button>
            <button type="button" id="BackFrm" class="btn" style=" margin-top: 50px; float: left; width: 25%; height: 40px;">Trở lại</button>
        </div>
    </div>


</div>
<script>


    $(document).ready(function () {
        $("#save").click(function () {
            var name = $('#Name').val();
            var phone = $('#Phone').val();
            var address = $('#Address').val();
            var email = $('#Email').val();
            var birthday = $('#Birthday').val();
            var password = prompt("Enter your password please");
            if (password != null) {
                if (password !=@user.Password) {
                    toastr.error("Mật khẩu không đúng", "EditProfile", { timeOut: 2000, positionClass: "toast-top-center" })
                } else {
                    $.ajax({
                        url: "/Shop/Profiles",
                        type: "POST",
                        data: {
                            Name: name,
                            Phone: phone,
                            Address: address,
                            Email: email,
                            Birthday: birthday
                        },
                        success: function (res) {
                            if (res === "false") {

                            }
                            else {
                                toastr.success("Thay đổi thông tin thành công", "EditProfile", { timeOut: 1500, positionClass: "toast-top-right" })
                                setTimeout(function () { $("#loadBody").html(res) }, 2000)

                            }
                        }

                    });
                }
            }
        });
        $('#Change').click(function () {
            $('#openPopup').css('opacity', 1);
            $('#openPopup').css('visibility', 'visible');
        })
        $('#BackFrm').click(function () {
            $('#openPopup').css('opacity', 0);
            $('#openPopup').css('visibility', 'hidden');
        })
        $("#reset").click(function () {
            let username = $("#ip-text")[0].value;
            let password = $("#password")[0].value;
            let confirm = $("#confirm")[0].value;
            let oldpw = $("#old-password")[0].value;
            $.ajax({
                cache: false,
                type: "POST",

                url: "/Shop/ResetPassword",
                data: {

                    username: username,
                    password: password,
                    confirm: confirm,
                    oldpassword: oldpw
                },
                success: function (res) {
                    if (res === "false")
                        toastr.error("Đổi mật khẩu thất bại", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "NotEqual")
                        toastr.error("Mật khẩu không trùng khớp", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "Wrong")
                        toastr.error("Nhập sai mật khẩu", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "null")
                        toastr.error("Không để trống mật khẩu", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else {
                        toastr.success("Đổi mật khẩu thành công", "Register", { timeOut: 1500, positionClass: "toast-top-right" })
                        setTimeout(function () { window.location.href = "/Shop/Login"; }, 2000 )
                    }
                }
            })
        })
        //$("#Change").click(function () {
        //    window.location.href = "/Shop/ChangePassword";
        //        });
    });
</script>

<script src="~/Scripts/CheckPass.js"></script>
