@model List<demo.Model.Product>
@using PagedList.Mvc;
@using demo.Model;
@using Newtonsoft.Json

@{
    ViewBag.Title = "Style";
}

@using demo.Controllers;
@{User user = Session["User"] as User; }
<div>
    @{
        if (user is null)
        { Html.RenderAction("HeaderMenuGuest", "Shop"); }
        else
        { Html.RenderAction("HeaderMenu", "Shop"); }
    }
    <h2 style="text-align:center">
        ĐỒNG HỒ @Model.FirstOrDefault().Style.ToString().ToUpper()
    </h2>
    <div class="container-fluid">
        <div id="loadProduct" class="products row">
            @{
                string style = Model[0].Style.ToString();
            }
            @{Html.RenderAction("_Style", "Shop", new { page = 1, style });}


        </div>
        <ul class="pager">
            <li><a id="minpage">|<<</a></li>
            <li><a id="previous"><<</a></li>
            <li><a id="next">>></a></li>
            <li><a id="maxpage">>>|</a></li>
        </ul>
    </div>
</div>

<script>
    var currentpage = 1;
    var max = 0;
    var Style = '@Model.FirstOrDefault().Style.ToString()';

    $(document).ready(function () {

        $('#previous').click(function () {
                currentpage = currentpage - 1;
                if (currentpage <= 0)
                    currentpage=1
            $.ajax({
                type: "GET",
                url: "/Shop/_Style",
                data: {
                    page: currentpage,
                    style: Style

                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
           $('#next').click(function () {

            pagesize = 4;
            var max = 0;
            var size = (@Model.Count()) / pagesize;
            if ((@Model.Count()) % pagesize == 0) {
                max = (@Model.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@Model.Count()) / pagesize) + 1);
            }
            currentpage = currentpage + 1;
            if (currentpage > max)
                currentpage = max;
            if (max == 1)
                currentpage = 1;
            $.ajax({
                type: "GET",
                url: "/Shop/_Style",
                data: {
                    page: currentpage,
                    style: Style
                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#minpage').click(function () {
            currentpage = 1
            $.ajax({
                type: "GET",
                url: "/Shop/_Style",
                data: {
                    page: currentpage,
                    style:Style

                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
        $('#maxpage').click(function () {
            pagesize = 4;
            var max = 0;
            var size = (@Model.Count()) / pagesize;
            if ((@Model.Count()) % pagesize == 0) {
                max = (@Model.Count()) / pagesize;
            }
            else {
                max = Math.floor(((@Model.Count()) / pagesize) + 1);
            }
            console.log(max);
            currentpage = max;
            $.ajax({
                type: "GET",
                url: "/Shop/_Style",
                data: {
                    page: currentpage,
                    style:Style

                },
                success: function (res) {
                    $('#loadProduct').html(res)
                }
            });
        });
    });

</script>

