@model List<demo.Model.OrderDetail>
@using PagedList.Mvc;
@using demo.Model;
@{
    ViewBag.Title = "Wait";
}

@using demo.Controllers;


<div class="home-Contact">
    <span>Contact us: <a href="tel:#0708033730">0708033730</a></span>
    <hr>
    @{

        var user = Session["User"] as User;
        var c = user.Orders.Where(t => t.ID_Customer == user.Name).ToList().Count();
        if (Session["User"] != null)
        {
            string temp = user.Username;
            if (user.Name != null)
            {
                temp = user.Name;
            }
            else
            {
                temp = user.Username;
            }

            <div class="after-login">
                <a href="#" id="user">@temp</a>
                <hr>
                <SPAN><a href="~/Shop/HomeGuest" id="Logout">ĐĂNG XUẤT</a></SPAN>
            </div>

        }
    }
</div>
<div class="home-Menu row">
    <div class="home-Menu-left col-lg-6">
        <ul class="nav navbar-nav center_nav pull-right">
            <li class="nav-item active" style="border-right:solid 2px black">
                <a class="nav-link" href="~/Shop/Home">TRANG CHỦ</a>
            </li>
            <li class="nav-item submenu dropdown" style="border-right:solid 2px black">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ĐỒNG HỒ NAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ĐỒNG HỒ NỮ</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item submenu dropdown " style="border-right:solid 2px black">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ROLEX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CASIO</a>
                    </li>
                </ul>
            </li>
            @{ Html.RenderAction("HeaderCart", "Shop");}
        </ul>

    </div>
    <div class="home-Menu-right col-lg-6">
        @{

            if (!(user is null) && user.isAdmin == true)
            {
                <ul id="admin" class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Shop/AddProduct">THÊM SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CHỈNH SỬA SẢN PHẨM</a>
                    </li>
                </ul>
            }
        }
    </div>
</div>
<div class="home-Menu row">
    <div class="Cart-menu">
        <ul class="nav navbar-nav center_nav pull-right">
            @{
                if (!(user is null) && user.isAdmin == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Cart">Giỏ Hàng</a>
                    </li>
                }
            }
            <li class="nav-item Active">
                <a href="#" class="nav-link">Chờ xác nhận</a>
            </li>
            <li class="nav-item">
                <a href="/Shop/Delivery" class="nav-link">Đang giao</a>
            </li>
            <li class="nav-item">
                <a href="/Shop/Finish" class="nav-link">Đã giao</a>
            </li>
            <li class="nav-item">
                <a href="/Shop/Cancel" class="nav-link">Đã hủy</a>
            </li>
        </ul>

    </div>
</div>
<div class="container">
    <div class="row">
        <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Begin empty cart -->
            <div class="row">
                <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                    <span class="header-page clearfix">
                        <h1 style="color:black">
                            Giỏ hàng
                        </h1>
                    </span>

                    @{
                        if (Model.Count > 0)
                        {
                            <table class="table-cart">

                                <thead>
                                    <tr></tr>
                                    <tr>
                                        <th style="text-align: center;">Ảnh SP</th>
                                        <th style="text-align: center;">Mã SP</th>
                                        <th style="text-align: center;">Tên SP</th>
                                        <th style="text-align: center;">Số lượng</th>
                                        <th style="text-align: center;">Đơn giá</th>
                                        <th style="text-align: center;">Thành tiền</th>
                                        <th style="text-align: center;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        string k = "";
                                        foreach (var i in Model)
                                        {


                                            if (@i.ID_Order != k)
                                            {
                                                float total = 0;
                                                foreach (var row in Model)
                                                {
                                                    if (row.ID_Order == i.ID_Order)
                                                    {
                                                        total += (float)(row.Product.Price.GetValueOrDefault(0) * row.Quantity);
                                                    }


                                                }
                                                <tr>


                                                    @if (!(user is null) && user.isAdmin == false)
                                                    {
                                                        <td colspan="4">
                                                            ID đơn hàng:@i.ID_Order &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                                                            Tổng tiền đơn hàng:@total.ToString("N0")
                                                        </td>
                                                        <td style="text-align:center"> <div class="DeleteOrder"><a href="#" data-id="@i.ID_Order">Xóa</a></div></td>
                                                        <td style="text-align:center"><div class="Detail"><a href="~/Shop/Detail?ID=@i.ID_Order" data-id="@i.ID_Order">Xem chi tiết</a></div></td>
                                                        <td></td>
                                                    }
                                                    else
                                                    {
                                                        <td colspan="3" style="text-align:center">
                                                            ID đơn hàng:@i.ID_Order &nbsp;&nbsp;&nbsp;
                                                            Khách Hàng:@i.Order.User.Name &nbsp; &nbsp; &nbsp;
                                                            Tổng tiền đơn hàng:@total.ToString("N0") &nbsp; &nbsp; &nbsp;
                                                        </td>
                                                        <td style="text-align:center"><div class="DeleteOrder"><a href="#" data-id="@i.ID_Order">Xóa</a></div></td>
                                                        <td style="text-align:center"><div class="ConfirmOrder"><a href="#" data-id="@i.ID_Order">Xác nhận</a></div></td>
                                                        <td colspan="2" style="text-align:center"><div class="Detail"><a href="~/Shop/Detail?ID=@i.ID_Order" data-id="@i.ID_Order">Xem chi tiết</a></div></td>

                                                    }
                                                </tr>
                                                k = i.ID_Order;

                                                foreach (var item in Model)
                                                {
                                                    if (item.ID_Order == i.ID_Order)
                                                    {
                                                        var temp = (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                                                        <tr>
                                                            <td style="width: 15%;text-align:center; padding-top:10px">@Html.Image(item.Product.Image, "Alternate Text", "100", "150")</td>
                                                            <td style="width:5% ;text-align:center;">@item.Product.ID</td>
                                                            <td style="width: 40%;text-align:center;">@item.Product.Name</td>
                                                            <td style="width: 5%;"><input style="border:none;text-align:center;" type="number" min="0" max="@item.Product.Quantity" class="txtquantity" id="sl" data-id="@item.Product.ID" value="@item.Quantity" onchange="changeHandler()" /></td>
                                                            <td style="width: 15%;text-align:center;" id="price">@(item.Product.Price.GetValueOrDefault(0).ToString("N0"))</td>
                                                            <td style="width: 15%;text-align:center;" id="totalprice">@(((float)temp).ToString("N0"))</td>
                                                        </tr>
                                                    }

                                                }
                                            }

                                        }
                                    }
                                </tbody>
                            </table>

                        }
                        else
                        {
                            <p class="text-center">
                                Không có đơn hàng nào đang chờ xác nhận!
                            </p>
                        }
                    }
                    <div class="row">


                        <div class="col-md-12 col-sm-12  col-xs-12 continue-shop">
                            <a href="~/Shop/Home"><i class="fa fa-reply"></i>Tiếp tục mua hàng</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End cart -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.DeleteOrder').click(function (e) {
            const current = e.currentTarget;
            var r = confirm("Bạn có chắc chắn muốn xóa đơn hàng này không?");
            if (r == true) {
                $.ajax({
                    data: { ID: current.children[0].dataset.id },
                    url: '/Shop/DeleteOrder',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/Shop/Wait";
                        }
                    }
                })
            }
        });
        $('.ConfirmOrder').click(function (e) {
            const current = e.currentTarget;
            var r = confirm("Bạn có chắc chắn muốn xác nhận đơn hàng này không?");
            if (r == true) {
                $.ajax({
                    data: { ID: current.children[0].dataset.id },
                    url: '/Shop/Confirm',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/Shop/Wait";
                        }
                    }
                })
            }
        });
       
    });
</script>
<script>
    $(document).ready(function () {

        $(".nav-item").click(function () {
            var x = $('.Active')
            $(this).addClass(' Active');
            x.removeClass();
            x.addClass('nav-item')
        });
    });
</script>